.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


    position: absolute;
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    z-index: 2;

    transform: translate(0%, 50%);

}

.container button {
    width: 43.75rem;
    height: 6.25rem;
    font-size: 1.25rem;
    background-color: var(--violet-300);
}

@media (max-width:768px) {

    .container button {
        width: 90%;
    }
}